html, body {
    padding: 0; margin: 0;
    text-align: center;
    background: #141547;
    color: #d8d6c2;
}

#visualContainer {
    margin: 0;
    padding: 0;
    width: 50%;
    background-color: #141547;
    position: fixed;
    height: 100%;
    overflow: auto;
    
}
#moveContainer {
    padding: 0;
    width: 600%;
    background-color: #ffffff;
    position: fixed; 
    overflow: auto;
}

.playStopButton {
    border-radius: 5px 60px 60px 5px;
    border-style: solid;
    border-color: black;
    background-color:grey;
    color: #e2e5ff;
    font-size: 1.3em;
    width:120px;
    padding: 0.2em;
}

.playStopButton:hover {
    color: #b4f8c0;
}

.playStopButton:active {
background-color:#689c68;
}



.effectButton {
    border-radius: 5px 5px 30px 30px;
    background-color:grey;
    border: none;
    color: #e2e5ff;
    font-size: 1.2em;
    width:26%;
    padding: 0.3em;
    margin-right: 2%; 
}

.effectButton:hover {
    color: #b4f8c0;
}

.effectButton:active {
background-color:#689c68;
}

div {
    padding :10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

/*
#functionContainer { 
    background: #3244a7;
    width: 85%;
    border-style: solid;
    border-color: #161d44;
}
*/

/*Kommentar*/
#controllContainer {
    position: fixed;
    margin-left: 50%;
    height: 100%;
    width: 50%;
    text-align: center;
    overflow: auto;
    
}

.samplesContainer {
    border-radius: 80px 80px 10px 10px;
    background: #516cc4;
    width: 80%;
    margin-left: 7%;
    border-style: solid;
    border-color: #161d44;
}

#sampleRed{
    background: #a85783
}
#sampleBlue{
    background: #6f7ff7
}
#sampleWhite{
    background: #c0c7ff
}


.effectButtons {
    font-size: 1.0em;
    margin-top:-10px;
    text-align: center;
}






