html, body {
    padding: 0; margin: 0;
    text-align: center;
    background: #141547;
    color: #d8d6c2;
}

#visualContainer {
    border-radius: 60px;
    margin-top: 20px;
    padding-top: 60px;
    width: 42%;
    background-color: #363775;
    position: fixed;
    height: 350px;
    overflow: auto;
    margin-left:5%;
}

.playStopButton {
    border-radius: 5px 60px 60px 5px;
    border-style: solid;
    border-color: black;
    background-color:grey;
    color: #e2e5ff;
    font-size: 1.3em;
    width:120px;
    padding: 0.2em;
}

.playStopButton:hover {
    color: #b4f8c0;
}

.playStopButton:active {
background-color:#689c68;
}

.effectButton {
    border-radius: 5px 5px 30px 30px;
    background-color:grey;
    border: none;
    color: #e2e5ff;
    font-size: 1.2em;
    width:30%;
    margin-left: -10;
    margin-right: 10px;
    padding: 7px;  
}

#effectButtonOne, #effectTwoButtonOne, #effectThreeButtonOne{
    border-radius: 5px 5px 30px 5px;
}

.effectButton:hover {
    color: #b4f8c0;
}

.effectButton:active {
background-color:#689c68;
}

div {
    padding :10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#controllContainer {
    position: fixed;
    margin-left: 50%;
    margin-top: 40px;
    height: 100%;
    width: 50%;
    overflow: auto;
    float: right;   
}

.samplesContainer {
    border-radius: 10px 80px 10px 10px;
    background: #516cc4;
    width: 80%;
    border-style: solid;
    border-color: #161d44;
}

#sampleRed{
    background: #a85783
}
#sampleBlue{
    background: #6f7ff7
}
#sampleWhite{
    background: #c0c7ff
}

.effectButtons {

    font-size: 1.0em;
    margin-top:-10px;
    margin-left:-7px;
    width: 87%;
    text-align: left;
}

#paper {
    border-radius: 30px;
    border-style: solid;
    border-color: #b98393;
    margin:10px;
}

#musificator{
    font-size: 3.0em;
    color: #8aaff3;
}





